.options__title {
	text-align: center;
	font-size: 2rem;
	margin-bottom: 25px;
}

.options {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 25px;
}

.option {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 10px;
	border-radius: 20px;
	padding: 20px;
	border: 1px solid #000;

	&:nth-child(1) {
		background-color: rgb(255, 242, 226);
	}

	&:nth-child(2) {
		background-color: rgb(239, 239, 239);
	}

	&:nth-child(3) {
		background-color: rgb(254, 254, 202);
	}
}

.option__title {
	font-size: 2rem;
}

.option__price {
	font-size: 1.5rem;
	font-weight: 600;
}

.option__info {
	background: #fff;
	width: 100%;
	border-radius: 15px;
	padding: 20px;
	margin-top: auto;
}

.option__info-title {
	margin-bottom: 25px;
}

.option__info-list {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}

.option__link {
	background: var(--accent-clr);
	padding: 7.5px;
	text-align: center;
	border-radius: 20px;
	color: #000;
	border: 1px solid #000;
}

@media screen and (width <= 1000px) {
	.options {
		grid-template-columns: repeat(2, 1fr);
	}

	.option__info {
		padding: 10px;
	}
}

@media screen and (width < 808px) {
	.options {
		padding: 0 20px;
	}
}

@media screen and (width < 600px) {
	.options {
		grid-template-columns: repeat(1, 1fr);
	}
}
