@use "./fonts";
@use "./reset";
@use "./variables";

body {
	font-family: "Montserrat Alternates", sans-serif;
	overflow: hidden;
	// font-family: "Caveat", cursive;
	// font-family: "Lobster", sans-serif;
	// font-family: "Comfortaa", sans-serif;
	// font-family: "Bad Script", cursive;
	// height: 4000px;
	// color: var(--brown-clr);
	// padding: 25px;
	// background: var(--silver-bg-clr) !important;
}

::-webkit-scrollbar {
	display: none;
}
